{% extends 'base.html.twig' %}

{% block title %}Indeed mais en mieux{% endblock %}

{% block body %}

{% include "components/_navbar.html.twig" %};

<div class="container">

    <a href="{{path("offers.create")}}" class='btn btn-primary'>Add Post</a>

    <div class="row mt-5">
        {% for offer in offer_list %}
            <div class="col-md-3">
                <a href="{{ path("offers.show", {id: offer.id}) }}">
                    <div class="card"> 
                        <img src="https://www.placemonkeys.com/150/150?random" alt="" class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title fs-5">{{ offer.title | upper}}</h2>
                            <ul>
                                <li>{{ offer.city | upper}}</li>        
                            </ul> 
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
