{% extends 'base.html.twig' %}

{% block title %}Supprimer une offre{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="alert alert-danger text-center">
                    {{ message }}
                </div>
            </div>   
        </div>
    </div>
   {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="text-center">
                    <a href="{{ path('offers.list') }}">Retourner a la liste des offres</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
