<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BetterIndeed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#"></a>
              <a class="nav-link" href="#">Lancer la recherche</a>
              <a class="nav-link" href="#">Avis sur les entreprises</a>
              <a class="nav-link" href="#">Consulter les salaires</a>
              <a class="nav-link" href="#">Télécharger votre CV</a>
              <a class="nav-link" href="#">Connexion</a>
              <a class="nav-link" href="#">Entreprises/Publier une annonce</a>
              </div>
            </div>
          </div>
        </div>
      </nav>